.favourite-website {
    text-align: center;
    margin: 10px 0;
}
.favourite-img {
    width: 32px;
    height: 32px;
}
.favourite-title {
    margin-top: 5px;
}

.weather-label {
    font-size: 20px;
    font-weight: bold;
}