body {
    background: #F8F8F8;
}

body > .container {
    margin-top: 50px;
}

.favourite-container {
    margin-top: 80px;
}
.favourite-website {
    text-align: center;
    margin-bottom: 20px;
}
.favourite-img {
    width: 32px;
    height: 32px;
}
.favourite-title {
    margin-top: 5px;
}

.weather-container {
    margin-top: 50px;
}
.weather-label {
    font-size: 20px;
    font-weight: bold;
}