<h1>
    Stephen Yuan's Homepage!
</h1>

<div class="weather-container panel panel-default">
    <div class="panel-body">
        <div class="text-center" ng-if="!showingWeather">
            <button class="btn btn-success btn-lg" ng-click="showWeather()">
                Weather Forecast
            </button>
        </div>
        <div class="timer-loader" ng-if="showingWeather && weatherForecastLoading">
            Loading...
        </div>
        <div class="row" ng-if="showingWeather && !weatherForecastLoading && weatherForecast">
            <div weather-day class="col-md-3 col-sm-4 col-xs-6" 
                 ng-class="{'hidden-sm': $index>2, 'hidden-xs' : $index>1}" 
                 ng-repeat="day in weatherForecast" day="day">
            </div>
        </div>
    </div>
</div>

<div class="favourite-container">
    <div class="row">
        <div favourite class="col-md-2 col-sm-3 col-xs-4" 
             ng-repeat="website in favourites" website="website">
        </div>
    </div>
</div>

<!------------------------------- Templates ----------------------------------->
<script type="text/ng-template" id="favourite.d.html">
    <a class="favourite-website btn btn-default btn-lg btn-block" 
       ng-href="{{website.href}}" target="_blank">
        <div>
            <img class="favourite-img" ng-src="{{website.img}}" />
        </div>
        <div class="favourite-title">
            {{website.title}}
        </div>
    </a>
</script>

<script type="text/ng-template" id="weather-day.d.html">
    <div>
        <span class="weather-label">
            {{day.date.weekday}}
        </span>
        <img ng-src="{{day.icon_url}}" />
    </div>
    <div>
        {{day.date.day}} {{day.date.monthname_short}}
    </div>
    <div>
        {{day.conditions}}
    </div>
    <div class="weather-temperature">
        <strong>{{day.low.celsius}}</strong> &#8451;
        ~
        <strong>{{day.high.celsius}}</strong> &#8451;
    </div>
</script>
<!----------------------------------------------------------------------------->