<h1>
    Stephen Yuan's homepage!
</h1>

<div class="">
    <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-4" 
             favourite ng-repeat="website in favourites" website="website">
        </div>
    </div>
</div>

<script type="text/ng-template" id="favourite.d.html">
    <a class="favourite-website btn btn-default btn-lg btn-block" ng-click="direct()">
        <div>
            <img class="favourite-img" ng-src="{{website.img}}" />
        </div>
        <div>
            {{website.title}}
        </div>
    </a>
</script>